@import "tailwindcss";

@theme {
  --font-outfit: "Outfit";
  --color-primary: #8f87f1;
  --color-secondary: #7a70ee;
}

html {
  font-family: var(--font-outfit);
}

.swal-container {
  z-index: 3000;
}

@layer base {
  @keyframes slide-out-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
