@import "tailwindcss";

@theme {
  --font-outfit: "Outfit";
}

* {
  font-family: var(--font-outfit);
}

@layer base {
  @keyframes slide-out-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
